body{
	margin: 0;
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #F0F0F0;
	height: 93px;
	margin:0;
}
.header-right{
	height: 40px;
	margin-right: 5%;
}
.header-right input[type=text] {
  	font-family: 'Roboto', sans-serif;
  	font-size: 14pt;
  	font-weight: 300;
  	float: left;
  	padding-top: 10px;
  	padding-bottom: 5px;
  	margin-top: 0px;
  	margin-right: 10px;
  	border-bottom: 2px solid #566141;
  	border-top: none;
  	border-right: none;
  	border-left: none;
  	box-sizing: border-box;
  	font-size: 17px;
  	background-color: rgba(0,0,0,0);
 }
.navBar{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: #F0F0F0;
	height: 38px;
	margin:0;
	padding-left: 5%;
}
.navBar a{
	flex-basis: content;
	margin: 0 20px 0 20px;
	align-items: center;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	font-weight: 500;
	color: #566141;
	letter-spacing: 3px;
}
.navBar a:hover{
	color: #E3C59F;
	transition: all .25s;
}
.footer{
	background-color: #F0F0F0;
	height: 50px;
	width: 100%;
	position: fixed;
	bottom: 0;
	
}
.content{
	width: 90%;
	height: 400px;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	margin: 27px auto auto auto;
}
.feature{
	width: 50%;
	color: #566141;
	display: flex;
	flex-direction:  row;
	max-width: 454px;

	justify-content: flex-end;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;	
	margin-right: 5%;
}
.feature h2{
	font-size: 20pt;
	font-weight: 500;
	margin: 2px 0 10px 0;
}
.feature p{
	font-size: 12pt;
	font-weight: 100;
}	
#colorOptions{
	font-size: 8pt;
	font-weight: 100;
}
.featureDetail{
	padding-left: 0;
	padding-right: 5%;
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

}
.callToAction{
	
	margin-top: 20px;
	padding: 10px;
	border: none;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 13pt;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 3px;
	text-align: center;
	background-color: #566141;
	border-radius: 8px;
}
.callToAction:hover{
	background-color: #E3C59F;
	transition: all .25s;
}
#colors{
	align-self: flex-start; 
}
#gps{
	margin-top: 5%;
	margin-right: n
	align-self: flex-start;
}
.social{
	width: 50%;
	height: 342px;
	color: #55636F;
	max-width: 454px;

	text-decoration: none;
	font-family: 'Roboto', sans-serif;	
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	background-color: #F0F0F0;
	margin-left: 5%;
	margin
}
.social h2{
	padding-left: 5%; 
	font-size: 20pt;
	font-weight: 500;
}
.social h3{
	margin: 0;
	font-size: 12pt;
	font-weight: 500;
}
.social a{
	text-decoration: none;
	color: #55636F;

}
.social a:hover h3{
	color: #E3C59F;
	transition: .25s;

}
.socialElements{
	display: flex;
	padding-left: 5%;
}
#socialElementsSmall{
	display: flex;
	flex-direction: column;	
	justify-content: flex-end;
	margin-left: 18px;
	justify-content: space space-between;
}
#ig{
	margin-top: 23px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;

}
#ig img{
	align-self: center;
	flex-basis: content;
	margin-right: 5px;

}
.accountName{
	margin: auto;
	align-self: flex-start;
	flex-basis: content;

}
#fb{
	margin-top: 23px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;

}
#fb img{
	align-self: center;
	flex-basis: content;
	margin-right: 5px;

}
#social2-3{
	margin-top:30px;
	flex-basis: content;
}

#cartButton{
	float: right;
	border-radius: 8px;
	height: 40px;
}
#cartButton:hover{
	background-color: #E3C59F; 
	transition: all .25s;
}
#logo{
	float: left;
	/*margin-top: 20px;*/
	margin-left: 5%;
}
#searchIcon{
	padding: 5px 10px 5px 0px;
}
#hero{
	background-image:url("images/pexels-spencer-gurley-1448053.jpg");
	background-position: center;
	background-size: 100%;
	width: 90%;
	height: 460px;
	overflow: hidden;
	margin: 24px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

#hero h1{
	margin:21px 0px 0px 0px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 32pt;
	font-weight: 700;
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0,0,0, .42);
}

#hero h2{
	margin:0;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 16pt;
	font-weight: 500;
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0,0,0, .42);
}
#hero a{
	text-decoration: none;
}
#shopAllProducts{
	width: 250px;
	padding: 10px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 13pt;
	font-weight: 500;
	letter-spacing: 3px;
	text-align: center;
	background-color: rgba(185, 181, 170, .59);
	border-radius: 8px;
	
}
#shopAllProducts:hover{
	background-color: #E3C59F;
	transition: all .25s;
}
